<div>
  <div class="table-container" [formGroup]="CourseGroup">
    <table>
      <thead>
        <tr>
          <th colspan="2">
            <div>Add Course</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Course Name</td>
          <td>
            <mat-form-field>
              <input formControlName="CourseName" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Course Description</td>
          <td>
            <mat-form-field>
              <input formControlName="CourseDescription" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Questions Count</td>
          <td>
            <mat-form-field>
              <input type="number" formControlName="QuestionCount" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Mark / Question</td>
          <td>
            <mat-form-field>
              <input type="number" formControlName="CorrectAnswerWeightage" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>-Ve Mark / Question</td>
          <td>
            <mat-form-field>
              <input type="number" formControlName="WrongAnswerWeightage" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>Exam Time Duration</td>
          <td>
            <mat-form-field>
              <input type="number" formControlName="ExamTimeDuration" matInput />
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td colspan="2" class="text-right">
            <button mat-button (click)="submit('C')">Cancel</button>
            <button mat-button  class="mat-button-primary" (click)="submit('S')" [disabled]="CourseGroup.invalid">Save</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>